name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 20 * * *'
jobs:
  test:
    timeout-minutes: 120
    strategy:
      matrix:
        include:
          - name: "test-cross"
            java: 8
            os: ubuntu-latest
          - name: "scripted"
            java: 8
            os: ubuntu-latest
          - name: "scripted"
            java: 8
            os: windows-latest
          - name: "test"
            java: 17
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - shell: bash
      run: |
        case ${{ matrix.name }} in
          "test-cross")
            sbt -v scalafmtSbtCheck "+ scalafmtCheckAll" "+compile" "+test"
            ;;
          "scripted")
            sbt -v "+ publishLocal" "+ sbt-plugin/scripted"
            ;;
          "test")
            sbt -v test
            ;;
          *)
            echo "unknown job"
            exit 1
        esac
    - shell: bash
      run: rm -rf "$HOME/.ivy2/local" || true
