name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 20 * * *'
jobs:
  test:
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "test"
            java: 17
            os: ubuntu-latest
          - name: "scripted"
            java: 17
            os: ubuntu-latest
          - name: "scripted"
            java: 17
            os: windows-latest
          - name: "test"
            java: 25
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: actions/checkout@v6
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v8
    - shell: bash
      env:
        JAVA_OPTS: "-Xmx6G"
      run: |
        case ${{ matrix.name }} in
          "test")
            sbt -v --server "all scalafmtSbtCheck scalafmtCheckAll" Test/compile test
            ;;
          "scripted")
            case ${{ matrix.os }} in
              "windows-latest")
                sbt -v --server publishLocal sbt-plugin2_12/scripted
                ;;
              *)
                sbt -v --server publishLocal scripted
                ;;
            esac
            ;;
          *)
            echo "unknown job"
            exit 1
        esac
    - shell: bash
      run: rm -rf "$HOME/.ivy2/local" || true
